<!DOCTYPE html>
<html lang="es">
<head>
<%-include ("../includes/head"); %>
<link rel="shortcut icon" href="../../img/logos/logo-sin-texto.png" type="image/x-icon">
<title>NewForm</title>
<link href="/css/create.css" rel="stylesheet">
</head>
<body>
<!-------------------- ENCABZADO ------------------------->
<%-include ("../includes/header"); %>
<!-------------------- FORMULARIO ---------------------->
<main> 
    <section class="registro">
    <h1 clase="registro__titulo">Regristro de Productos</h1>
    <p class="registro__nota">Ingrese los datos del producto que quiere subir</p>
    
    <form action="/productos/crear" method="POST" class="form" enctype="multipart/form-data">
        
        <fieldset class="form__registro__datos">
        <input type="text" name="name" class="form__registro__datos__input spacing" placeholder="Nombre del producto">
        <% if (locals.errors && errors.name) { %>
            <div class="text-danger">
                <%= errors.name.msg %> 
            </div>
            <% } %>
        </fieldset>

        <input type="text" name="description" class="form__registro__datos__input spacing" placeholder="Descripci贸n" >
        <% if (locals.errors && errors.description) { %>
            <div class="text-danger">
                <%= errors.description.msg %> 
            </div>
            <% } %>
        <fieldset class="form__registro__datos__with-label">
            <label for= "Imagen">Imagen</label>
            <input type="file" name="img" id="image" class="spacing">
            <% if (locals.errors && errors.img) { %>
                <div class="text-danger">
                    <%= errors.img.msg %> 
                </div>
                <% } %>
        </fieldset>
        <% if (locals.errors && errors.img) { %>
            <div class="text-danger">
                <%= errors.img.msg %> 
            </div>
            <% } %>
        
        <fieldset class="form__registro__datos__with-label">
        <label for="winery">Bodega</label>
        <select name="winery" class="spacing">
        <option value="" selected disabled>Elige una bodega</option>
        <% winery.forEach(element => { %> 
        <option value="<%= element.id %>"><%= element.name %> </option>
            <% }) %> 
        </select>
        <% if (locals.errors && errors.winery) { %>
            <div class="text-danger">
            <%= errors.winery.msg %> 
            </div>
        <% } %>
        </fieldset>

        <fieldset class="form__registro__datos__with-label">
            <label for="styleWine">Tipo</label>
            <select name="style_wines" class="spacing">
                <option hidden selected>Selecciona una opci贸n</option>
                <% styleWine.forEach(element => { %> 
                <option value="<%= element.id %>"><%= element.name %> </option>
                <% }) %> 
                <% if (locals.errors && errors.style_wines) { %>
                    <div class="text-danger">
                        <%= errors.style_wines.msg %> 
                    </div>
                    <% } %>
            </select>
            <% if (locals.errors && errors.style_wines) { %>
                <div class="text-danger">
                <%= errors.style_wines.msg %> 
                </div>
            <% } %>
        </fieldset>

        <fieldset class="form__registro__datos__with-label">
            <label for="grapes">Varietal</label>
            <select name="grapes" class="spacing">
                <option hidden selected>Selecciona una opci贸n</option>
                <% grape.forEach(element => { %> 
                    <option value="<%= element.id %>"><%= element.name %> </option>
                    <% }) %> 
            </select>
            <% if (locals.errors && errors.grapes) { %>
                <div class="text-danger">
                    <%= errors.grapes.msg %> 
                </div>
                <% } %>
        </fieldset>

        
        <fieldset class="form__registro__datos__with-label">
            <label for="bottles">Cantidad de Botellas</label>
            <select name="bottles" class="spacing">
                <option hidden selected>Selecciona una opci贸n</option>
            <% for( let i = 1; i <= 120; i++ ) { %>
                <option value="<%=i%>"><%=i%> </option>
            <% } %>
            </select>
            <% if (locals.errors && errors.bottles) { %>
                <div class="text-danger">
                    <%= errors.bottles.msg %> 
                </div>
                <% } %>
        </fieldset>

        <fieldset class="form__registro__datos__with-label">
        <label for="price">Precio</label>
        <input type="price" name="price" class="form__registro__datos__precio" placeholder="Precio en $">
        <% if (locals.errors && errors.price) { %>
            <div class="text-danger">
                <%= errors.price.msg %> 
            </div>
            <% } %>
        </fieldset >
        
        <fieldset class="form__registro__botones">
        <button type="submit" class="buttons spacing">Enviar</button>
        <button type="reset" class="buttons spacing" >Cancelar</button>
        </fieldset>
    </form>
    </section>
</main>
<!------------------- PIE DE PAGINA ----------->
<%-include ("../includes/footer"); %>
</body>
</html>
