<!DOCTYPE html>
<html lang="es">
<head>
<%-include ("../includes/head"); %>
<link rel="shortcut icon" href="../../img/logos/logo-sin-texto.png" type="image/x-icon">
<title>Editar un producto</title>
<link href="/css/edit.css" rel="stylesheet">
</head>
<body>
<!-------------------- ENCABZADO ------------------------->
<%-include ("../includes/header"); %>
<!-------------------- FORMULARIO ---------------------->
<main> 
    <section class="registro">
    <h1 clase="registro__titulo">Editá tu Producto</h1>

    <form action="/productos/editar/<%=product.id%>?_method=PUT" method="POST" class="form form_edit" enctype="multipart/form-data" >
        
        <fieldset class="form__registro__datos">
        <input type="text" name="name" value="<%= locals.oldData ? oldData.name : null %>" class="form__registro__datos__input spacing" placeholder="Nombre del producto">
        <% if (locals.errors && errors.name) { %>
            <div class="text-danger">
                <%= errors.name.msg %> 
            </div>
            <% } %>
            <span class="text-danger"></span>
        </fieldset>

        <fieldset class="form__registro__datos">
        <input type="text" name="description" value="<%= locals.oldData ? oldData.description : null %>" class="form__registro__datos__input spacing" placeholder="Descripción">
        <% if (locals.errors && errors.description) { %>
            <div class="text-danger">
                <%= errors.description.msg %> 
            </div>
            <% } %>
            <span class="text-danger"></span>
        </fieldset>

        <fieldset class="form__registro__datos__with-label">
            <label for= "img">Imagen</label>
            <input type="file" name="img" id="image" class="spacing">
        <% if (locals.errors && errors.img) { %>
            <div class="text-danger">
                <%= errors.img.msg %> 
            </div>
            <% } %>
            <span class="text-danger"></span>
        </fieldset>
            
        <fieldset class="form__registro__datos__with-label">
        <label for="winery">Bodega</label>
        <select name="winery" class="spacing">
            <% if(locals.oldData){%>
                <option value="oldData.winery" selected>
                <%=winery.find(element =>{
                element.id == oldData.winery  
                })%> </option>
                <% winery.forEach(element => { %> 
                    <option value="<%= element.id %>"><%= element.name %> </option>
                        <% }) %> 
                <% } else { %> 
                    <option value="" selected disabled>Elige una bodega</option>
                    <% winery.forEach(element => { %> 
                    <option value="<%= element.id %>"><%= element.name %> </option>
                        <% }) %> 
                    <% } %> 
        </select>
        <% if (locals.errors && errors.wineries_id) { %>
            <div class="text-danger">
            <%= errors.winery.msg %> 
            </div>
        <% } %>
        <span class="text-danger"></span>
        </fieldset>

        <fieldset class="form__registro__datos__with-label">
            <label for="style_wines">Tipo</label>
            <select name="style_wines" class="spacing">
            <option value = '' hidden selected>Selecciona una opción</option>
                <% styleWine.forEach(element => { %> 
                <option value="<%= element.id %>"><%= element.name %> </option>
                <% }) %> 
            </select>
        <% if (locals.errors && errors.style_wines) { %>
            <div class="text-danger">
            <%= errors.style_wines.msg %> 
            </div>
        <% } %>
        <span class="text-danger"></span>
        </fieldset>

        <fieldset class="form__registro__datos__with-label">
            <label for="grapes">Varietal</label>
            <select name="grapes" class="spacing">
                <option value = '' hidden selected>Selecciona una opción</option>
                <% grapes.forEach(element => { %> 
                    <option value="<%= element.id %>"><%= element.name %> </option>
                    <% }) %> 
            </select>
            <% if (locals.errors && errors.grapes_id) { %>
                <div class="text-danger">
                    <%= errors.grapes.msg %> 
                </div>
                <% } %>
                <span class="text-danger"></span>
        </fieldset>

        <fieldset class="form__registro__datos__with-label">
            <label for="bottles">Cantidad de Botellas</label>
            <select name="bottles" class="spacing">
                <option value = '' hidden selected>Selecciona una opción</option>
            <% for( let i = 1; i <= 120; i++ ) { %>
                <option value="<%=i%>"><%=i%> </option>
            <% } %>
            </select>
            <% if (locals.errors && errors.bottles) { %>
                <div class="text-danger">
                    <%= errors.bottles.msg %> 
                </div>
                <% } %>
            <span class="text-danger"></span>
        </fieldset>

        <fieldset class="form__registro__datos__with-label">
        <label for="precio">Precio</label>
        <input type="precio" name="price" value="<%= locals.oldData ? oldData.price : null %>" class="form__registro__datos__precio" placeholder="Precio en $">
        <% if (locals.errors && errors.price) { %>
            <div class="text-danger">
                <%= errors.price.msg %> 
            </div>
            <% } %>
            <span class="text-danger"></span>
        </fieldset >
        
        <fieldset class="form__registro__botones">
        <button type="submit" class="buttons spacing">Enviar</button>
        <button type="reset" class="buttons spacing" >Cancelar</button>
        </fieldset>
    </form>
    </section>
</main>
<!------------------- PIE DE PAGINA ----------->
<%-include ("../includes/footer"); %>
<script src='/js/productValidations.js'></script>
</body>
</html>

