<!DOCTYPE html>
<html lang="es">
<head>
<%-include ("../includes/head"); %>
<link rel="shortcut icon" href="../../img/logos/logo-sin-texto.png" type="image/x-icon">
<title>Editar un producto</title>
<link href="/css/edit.css" rel="stylesheet">
</head>
<body>
<!-------------------- ENCABZADO ------------------------->
<%-include ("../includes/header"); %>
<!-------------------- FORMULARIO ---------------------->
<main> 
    <section class="registro">
    <h1 clase="registro__titulo">Edit치 tu Producto</h1>
    <!-- <p class="registro__nota"></p> -->
    <form action="/productos/edit/<%=product.id%>?_method=PUT" method="POST" class="form" enctype="multipart/form-data" >
        <fieldset class="form__registro__datos">
        <input type="text" name="name" class="form__registro__datos__input spacing" placeholder="Nombre del producto">
        <% if (locals.errors && errors.name) { %>
            <div class="text-danger">
                <%= errors.name.msg %> 
            </div>
            <% } %>
        <input type="text" name="description" class="form__registro__datos__input spacing" placeholder="Descripci칩n">
        <% if (locals.errors && errors.description) { %>
            <div class="text-danger">
                <%= errors.description.msg %> 
            </div>
            <% } %>
        </fieldset>

        <fieldset class="form__registro__datos__with-label">
            <label for= "img">Imagen</label>
            <input type="file" name="img" id="image" class="spacing">
        </fieldset>
        <% if (locals.errors && errors.img) { %>
            <div class="text-danger">
                <%= errors.img.msg %> 
            </div>
            <% } %       
        <fieldset class="form__registro__datos__with-label">
        <label for="wineries_id">Bodega</label>
        <select name="wineries_id" class="spacing">
            <option value="" selected disabled>Elige una bodega</option>
            <% winery.forEach(element => { %> 
            <option value="<%= element.id %>"><%= element.name %> </option>
                <% }) %> 
        </select>
        <% if (locals.errors && errors.wineries_id) { %>
            <div class="text-danger">
            <%= errors.wineries_id.msg %> 
            </div>
        <% } %>
        </fieldset>

        <fieldset class="form__registro__datos__with-label">
            <label for="style_wines_id">Tipo</label>
            <select name="style_wines_id" class="spacing">
            <option hidden selected>Selecciona una opci칩n</option>
                <% styleWine.forEach(element => { %> 
                <option value="<%= element.id %>"><%= element.name %> </option>
                <% }) %> 
            </select>
        <% if (locals.errors && errors.style_wines_id) { %>
            <div class="text-danger">
            <%= errors.style_wines_id.msg %> 
            </div>
        <% } %>
        </fieldset>

        <fieldset class="form__registro__datos__with-label">
            <label for="grapes_id">Varietal</label>
            <select name="grapes_id" class="spacing">
                <option hidden selected>Selecciona una opci칩n</option>
                <% grapes.forEach(element => { %> 
                    <option value="<%= element.id %>"><%= element.name %> </option>
                    <% }) %> 
            </select>
            <% if (locals.errors && errors.grapes_id) { %>
                <div class="text-danger">
                    <%= errors.grapes_id.msg %> 
                </div>
                <% } %>
        </fieldset>

        <fieldset class="form__registro__datos__with-label">
        <label for="precio">Precio</label>
        <input type="precio" name="price" class="form__registro__datos__precio" placeholder="Precio en $" >
        <% if (locals.errors && errors.price) { %>
            <div class="text-danger">
                <%= errors.price.msg %> 
            </div>
            <% } %>
        </fieldset >
        
        <fieldset class="form__registro__botones">
        <button type="submit" class="buttons spacing">Enviar</button>
        <button type="reset" class="buttons spacing" >Cancelar</button>
        </fieldset>
    </form>
    </section>
</main>
<!------------------- PIE DE PAGINA ----------->
<%-include ("../includes/footer"); %>
</body>
</html>

