<!DOCTYPE html>
<html lang="es">
<head>
    <%-include ("../includes/head");%>
    <link rel="shortcut icon" href="../../img/logos/logo-sin-texto.png" type="image/x-icon">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
    <%-include ("../includes/header");%>
    <!-- =============PRODUCTOS==========-->
    <main>
        <h3 id="ofertas" class="titulos-secciones">NUESTROS PRODUCTOS</h3>

        <div  class="main__section__lastvisit">

        
        <section>
            <% for( let i = 0; i < products.length; i++ ) { %>

        <article id="art1" class="articulos">
            <a href="/productos/detalle/<%=products[i].id%> ">     
                <img class="imagenArticulo" src="img/products/<%=products[i].img%>" alt="product image">
                <h4 class="name"><%=products[i].name%></h4>
                <h5><%= products[i].wineries.name %> </h5>   
                <p class="precio">Precio: $<%=products[i].price%> </p>  
                <div class="detalleArticulos">
    
            </a> 
        </article>    
        </section>
        <% } %>
        </div>
        
    </div>
    </main>
    <%-include ("../includes/footer");%>
</body>
</html>