<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include ("../includes/head"); %>
    <title>Login</title>
    <link rel="shortcut icon" href="../../img/logos/logo-sin-texto.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <!-- ===========================================HEADER===================================================   -->
    <%-include ("../includes/header"); %>
    
    <!-- ======================================MAIN*======================================================= -->
    <main> 
      
      <div id="main-div">
        <figure id="figure-copitas"><img id="imagen-copitas" src="/img/logos/copitas.png" alt="copitas brindando"></figure>
        <h1 id='titulo-ingresar'>INGRESAR</h1>
        <p id="texto-ingresa">Ingresa tu email y contrase単a</p>
        <form action="/usuarios/login" method="POST" class= login-form>
          <fieldset id="login-fildset">
            <input
              type="text"
              name="user"
              class="input"
              value="<%= locals.oldData ? oldData : null%>"
              placeholder="Nombre de Usuari@"
              />
              <% if (locals.errors && errors.user) { %>
                <div class="text-danger">
                  <%= errors.user.msg %> 
                </div>
              <% } %>
              <span class="text-danger"></span>
            
            <input
              type="password"
              name="password"
              class="input"
              placeholder="Contrase単a"
            />
            <% if (locals.errors && errors.password) { %>
              <div class="text-danger">
                <%= errors.password.msg %> 
              </div>
            <% } %>
            <span class="text-danger"></span>
            <div id="saveUser">
              <input type="checkbox" name="saveUser">
              <label for="saveUser">Recordarme</label>
              
            </div>
            
            <button id="button" type="submit">Ingresar</button>
          </fieldset>
        </form>
        <a id="olvido-pass-enlace" href="$">多Te olvidaste la contrase単a?</a>
      </div>
    </main>
    <%-include ("../includes/footer"); %>

<script src='/js/loginValidations.js'></script>
  </body>
</html>
