<!DOCTYPE html>
<html lang="es">
<head>
    <%-include ("../includes/head"); %>
    <link rel="shortcut icon" href="../../img/logos/logo-sin-texto.png" type="image/x-icon">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/users.css" />
</head>
<body>
    <%-include ("../includes/header"); %>
    <main>
        <section class="section-prodile">
            <%if(user.img){%>
                <img src="/img/users/<%=user.img%>" alt="Foto de perfil">
            <%}else{%>
                <img src="/img/users/foto_perfil_default.jpg" alt="Foto de perfil">
            <%}%>
            <div class="profile-data">   
                <h2><%=user.first_name + ' ' + user.last_name%></h2> 
                <h3><%=user.user%></h3> 
                <p><span>E-mail:</span> <%=user.email%></p> 
                <p><span>DNI:</span> <%=user.dni%></p>
                <p><span>Fecha de nacimiento:</span> <%=user.birth_date%></p>
                <a href="#"><button>Editar</button></a>
            </div>
        </section>
        
    </main>
    <%-include ("../includes/footer"); %>
</body>
</html>