<!DOCTYPE html>
<html lang="es">
<head>
    <%-include ("../includes/head"); %>
    <link rel="shortcut icon" href="../../img/logos/logo-sin-texto.png" type="image/x-icon">
    <title>Users</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/users.css" />
    
</head>
<body>
    <%-include ("../includes/header"); %>
    <!-- =============USUARIOS==========-->
    <main >
        <h3 class="users-title">Usuarios!  </h3>
        <section class="users">
            <% users.forEach(user => {%>
            <section class="section-prodile">
                <a href='/usuarios/perfil/<%=user.id%>'>
                <%if(user.img){%>
                    <img src="/img/users/<%=user.img%>" alt="Foto de perfil">
                <%}else{%>
                    <img src="/img/users/foto_perfil_default.jpg" alt="Foto de perfil">
                <%}%>
                <div class="profile-data">
                    <h2><%=user.first_name + ' ' + user.last_name%></h2> 
                    <h3><%=user.user%></h3> 
                    <p><span>E-mail:</span> <%=user.email%></p> 
                    <p><span>DNI:</span> <%=user.dni%></p>
                    <p><span>Fecha de nacimiento:</span> <%=user.birth_date%></p>
                    <p><span>Admin:</span> <%=user.admin%></p>
                </div>
            </a>
            </section>
            <%});%>
        </section>
            
        </main>
    <%-include ("../includes/footer"); %>
    
</body>
</html>